<p>
  This is result page.<br>
  cell title is <%= @list_title %><br>
  date_sample is <%= @date_sample%><br>
  windows_char_sample is <%= @windows_char_sample %><br>
  special_char_sample 1 is <%= @special_char_sample1 %><br>
  special_char_sample 2 is <%= @special_char_sample2 %><br>
  <br>
  sheet2_list_title is <%= @sheet2_list_tilte %>

</p>